

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[0]" >
          </div>
          
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[1]">
          </div>
         
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[2]" >
          </div>
          
        </ng-template>
      </ngb-carousel>
      

  <div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="menu-section-heading">Explore Products</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
                <div class="shadow menu-item-card p-3 mb-3">
                    <img src="https://img.freepik.com/premium-photo/fruit-vegetable-peels-are-packed-with-beneficial-nutrients_879108-13.jpg?w=740" class="menu-item-image w-100" />
                    <h1 class="menu-card-title">Fruits</h1>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
              <div class="shadow menu-item-card p-3 mb-3">
                  <img src="https://img.freepik.com/free-photo/fresh-vegetables-fruit-market-stall_1101-2560.jpg?w=740&t=st=1701743490~exp=1701744090~hmac=d496ded97eb7ff5bf291c20db0d893dea0dd8ef48d2e473a25bfbd59039b2112" class="menu-item-image w-100" />
                  <h1 class="menu-card-title">Vegetables</h1>
              </div>

          </div>

          <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
            <div class="shadow menu-item-card p-3 mb-3">
                <img src="https://img.freepik.com/free-photo/dried-food-products-sold-market_181624-60209.jpg?w=900&t=st=1701743559~exp=1701744159~hmac=9893cc7f90a741dc242247a0d5403f94a5f64f7d5df3c7db241f081b4223152c" class="menu-item-image w-100" />
                <h1 class="menu-card-title">Cerals</h1>
            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
              <img src="../../../assets/images/bevarages1.jpg" class="menu-item-image w-100" />
              <h1 class="menu-card-title">Beverages</h1>

          </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
            <img src="https://img.freepik.com/premium-photo/cold-ready-well-stocked-front-view-supermarket-refrigerator-generative-ai_634358-1251.jpg?size=626&ext=jpg&ga=GA1.1.1868812761.1700830456&semt=ais" class="menu-item-image w-100" />
            <h1 class="menu-card-title">Snacks</h1>
        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
      <div class="shadow menu-item-card p-3 mb-3">
          <img src="https://img.freepik.com/premium-photo/frozen-food-vegetables-meat-refrigerator-convenience-food-food-storage_286393-2719.jpg?w=740" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Frozen Foods</h1>
      </div>

  </div>

  <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
    <div class="shadow menu-item-card p-3 mb-3">
        <img src="../../../assets/images/household.jpg" class="menu-item-image w-100" />
        <h1 class="menu-card-title">Household Products</h1>
    </div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
  <div class="shadow menu-item-card p-3 mb-3">
      <img src="https://img.freepik.com/premium-photo/shelves-convenience-store-full-food-packages-fruit-boxes_466739-1060.jpg?w=740" class="menu-item-image w-100" />
      <h1 class="menu-card-title">General</h1>
  </div>

</div>
 </div>

</div>
  </div>

<div class="footer-section pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <img src="https://img.freepik.com/premium-vector/autumn-leave-sale-banner-design-with-discount-label-colorful-autumn-leaves-fall-season_5808-504.jpg?size=626&ext=jpg&ga=GA1.1.1868812761.1700830456&semt=ais" class="food-munch-logo" />
              <h1 class="footer-section-mail-id"></h1>
              <p class="footer-section-address">
                57,Opposite to Police Station,Village Street,Thiruvotiyur, Chennai-600017
              </p>
          </div>
      </div>
  </div>
</div>
