<div class="main">
    <div><img  src="https://img.freepik.com/free-vector/shopping-cart-supermarket-logo-template_23-2148470295.jpg" width="10%" height="90%"></div>
    <div (click)="routerToLink('/admin/home')" [class.selected]="url === '/admin/home'">Home</div>
    <div (click)="routerToLink('/admin/addproduct')" [class.selected]="url === '/admin/addproduct'">Add Grocery</div>
    <div (click)="routerToLink('/admin/listproduct')" [class.selected]="url === '/admin/listproduct'">List Grocery

    </div>
    <div (click)="routerToLink('/admin/orderlist')" [class.selected]="url === '/admin/orderlist'">Order List</div>
    <div [matMenuTriggerFor]="menu" class="user-name-item">
        <div>{{userName}}&nbsp;</div>
        <div>
            <mat-icon>expand_more</mat-icon>
        </div>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button (click)="routerToLink('/admin/logout')" mat-menu-item>
        <mat-icon>logout</mat-icon> Logout
    </button>

</mat-menu>