.main
{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: greenyellow;
    align-items: center;
    color: black;
    font-size: 20px;
}
.main > .selected {
    background: white;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
}
.main img {
    height: 3em;
    width: 200px;
}
.main div
{
    cursor: pointer;
}
.sign-up{
    color:blue;
    cursor: pointer;
}
